
.container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%,-50%);
    top:  50%;
    left: 50%;
    color: rgb(8, 128, 207); 
    background-color: #1c1fb9;   
}
p.letter {
    font-size: 3.5em;
    position: absolute;
    transform: translate(-50%);
    top: 35%;
}
.letter-M {
    left: 1em;
}
.letter-N {
    right: 0.2em;
}
.moon{
    background-color:rgb(231, 225, 225) ;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 0.6em rgba(216, 203, 203, 0.05),
                0 0 0 1.2em rgba(255,255,255,0.05),
                0 0 0 1.8em rgba(221, 207, 207, 0.137);
}
.moon:after {
    position: absolute;
    content: "";
    background-color: #3d3a3a;
    height: 0.9em;
    width:  0.9em;
    border-radius: 50%;
    top: 3.75em;
    left: 1.25em;
    box-shadow: 0.9em -2.1em 0 0.2em #5a5353,
    1.5em -0.3em 0 -0.06em #3d3737;
}
.orbit {
    height: 18.75em;
    width: 18.75em;
    border-radius: 50%;
    position:absolute;
    left: -5.2em;
    bottom: -5.2em;
    animation: spin 8s infinite linear;
}
@keyframes spin 
{
    100% {
        transform: rotate(360deg);
      }
}
.orbit p {
    position: absolute;
    font-size: 3.5em;
    top: 0.2em;
    left: 0.2em; 
}
@media screen and (min-width: 700px)
{
    .container {
      
        font-size: 20px;
    }
}